<div class="w-full card">
    <div class="bg-card ml-4 mr-4 mt-4 pb-2 rounded-2xl">
        <div class="text-2xl font-semibold px-8 pt-4 font-medium">Change Password</div>
        <br>

        <form [formGroup]="resetPasswordForm">
            <div class="grid grid-cols-1 flex w-full">

                <!-- New Password -->
                <mat-form-field class="px-8">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput formControlName="newPassword" #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type = (passwordField.type === 'password' ? 'text' : 'password')"
                        matSuffix>
                        <mat-icon class="icon-size-5"
                            [svgIcon]="passwordField.type === 'password' ? 'heroicons_solid:eye' : 'heroicons_solid:eye-slash'">
                        </mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
                        Password is required.
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
                        Password must be at least 8 characters long.
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('pattern')">
                        Must include numbers, letters, and special characters.
                    </mat-error>
                </mat-form-field>

                <!-- Confirm Password -->
                <mat-form-field class="px-8">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword" #passwordField2>
                    <button mat-icon-button type="button"
                        (click)="passwordField2.type = (passwordField2.type === 'password' ? 'text' : 'password')"
                        matSuffix>
                        <mat-icon class="icon-size-5"
                            [svgIcon]="passwordField2.type === 'password' ? 'heroicons_solid:eye' : 'heroicons_solid:eye-slash'">
                        </mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
                        Confirm Password is required.
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('confirmPasswordMismatch')">
                        Passwords do not match.
                    </mat-error>
                </mat-form-field>

            </div>

            <!-- Update button -->
            <div class="mt-4 flex items-center  justify-end mb-4 mr-4 pr-4 sm:mt-0">
                <button 
                (click)="resetPassword()" 
                mat-flat-button 
                [disabled]="resetPasswordForm.invalid"
                [ngStyle]="{ 'background-color': resetPasswordForm.valid ? '#ffb300' : '' }">
                Update
                </button>
                <!-- <button
            (click)="addCustomer()"
            mat-flat-button
            [disabled]="customerDetailsForm.invalid"
            [ngStyle]="{ 'background-color': customerDetailsForm.valid ? '#ffb300' : '' }">
            Sign Up
            </button> -->
            </div>
        </form>
    </div>
</div>
