<div class="flex flex-col flex-auto min-w-0">
    <div class="bg-card sticky top-0 relative z-49 flex h-16 w-full items-center pr-4 pl-0 shadow dark:border-b dark:bg-transparent dark:shadow-none sm:h-20 md:px-6 print:hidden">
        <div class="mx-2 flex items-center lg:mr-8" [ngStyle]="{ display: windowWidth >= 768 ? 'flex' : 'none' }">
            
          <div class="w-56">
                <img src="images/logo/Quick_XeNbg.png">
            </div>
          
        </div>
  
               
    <div class="ml-auto flex items-center space-x-2 pl-2">
      <div class="relative flex items-center">

<button mat-icon-button [matMenuTriggerFor]="userActions">
  <span>
      <mat-icon class="icon-size-10" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
  </span>
</button>


<mat-menu [xPosition]="'before'" #userActions="matMenu">

  <button mat-menu-item class="hover-bg p-2">
    <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:user'"></mat-icon>
    <span>Profile</span>
  </button>

  <button mat-menu-item class="hover-bg mt-0 p-2">
    <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:shopping-bag'"></mat-icon>
    <span>My Documents</span>
  </button>

  <button mat-menu-item class="hover-bg mt-0 p-2">
    <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:shopping-cart'"></mat-icon>
    <span>My Orders</span>
  </button>

  <button mat-menu-item class="hover-bg p-2" (click)="signOut()">
    <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"></mat-icon>
    <span>Sign out</span>
  </button>
</mat-menu>


      </div>
  </div>
  
    </div>

    <form [formGroup]="documentsForm" id="front">
    <div class="mb-3 grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-0">

    <div class="home-container">

      <div class="ml-2 mb-0 mt-4">
        <p class="text">Passport Front Page</p>
        <div 
          class="upload-container"
          (dragover)="onDragOver($event, 'passportFront')"
          (dragleave)="onDragLeave($event, 'passportFront')"
          (drop)="onDrop($event, 'passportFront')"
          [class.dragging]="isDragging['passportFront']"
        >
  
          <div class="flex flex-cols">
            <!-- Passport Icon -->
            <div class="mt-2 mb-2 mr-0 ml-2">
              <img class="w-10 h-15" src="images/logo/Passport.png">
            </div>
  
            <!-- Upload Button -->
            <div class="text1">
              <input type="file" formControlName="passportFront" #passportFrontInput hidden (change)="onFileSelected($event, 'passportFront')" />
              <span (click)="passportFrontInput.click()">
                <mat-icon class="icon-size-4 mt-2 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
              </span>
              <p style="margin-bottom: 0px; font-size: small;">Upload</p>
              <p class="drag-text">or drag and drop files here</p>
  
              <!-- File Preview -->
              <div *ngIf="fileUrls['passportFront']">
                <a [href]="fileUrls['passportFront']" target="_blank" class="view-file" style="margin-top: 6px; font-size: small;">View Uploaded File</a>
              </div>
            </div>
          </div>
    </div>
      </div>

    <div class="ml-2 mb-0 mt-4">
      <p class="text">Passport Back Page</p>
      <!-- <div class="home-container"> -->
          <div 
            class="upload-container"
            (dragover)="onDragOver($event, 'passportBack')"
            (dragleave)="onDragLeave($event, 'passportBack')"
            (drop)="onDrop($event, 'passportBack')"
            [class.dragging]="isDragging['passportBack']"
          >
    
            <div class="flex flex-cols">
              <div class="mt-2 mb-2 mr-0 ml-2">
                <img class="w-10 h-15" src="images/logo/Passport.png">
              </div>
    
              <div class="text1">
                <input type="file" formControlName="passportBack" #passportBackInput hidden (change)="onFileSelected($event, 'passportBack')" />
                <span (click)="passportBackInput.click()">
                  <mat-icon class="icon-size-4 mt-2 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                </span>
                <p style="margin-bottom: 0px; font-size: small;">Upload</p>
                <p class="drag-text">or drag and drop files here</p>
    
                <div *ngIf="fileUrls['passportBack']">
                  <a [href]="fileUrls['passportBack']" target="_blank" class="view-file" style="margin-top: 6px; font-size: small;">View Uploaded File</a>
                </div>
              </div>
            </div>
    
          </div>
      <!-- </div> -->
    </div>

    <div class="ml-2 mb-0 mt-4">
      <p class="text">Valid Visa</p>
      <!-- <div class="home-container"> -->
        <!-- <form [formGroup]="documentsForm" id="visa" class="bg-card mr-0 flex flex-col overflow-hidden rounded-1xl shadow"> -->
          <div 
            class="upload-container"
            (dragover)="onDragOver($event, 'validVisa')"
            (dragleave)="onDragLeave($event, 'validVisa')"
            (drop)="onDrop($event, 'validVisa')"
            [class.dragging]="isDragging['validVisa']"
          >
    
            <div class="flex flex-cols">
              <!-- Passport Icon -->
              <div class="mt-2 mb-2 mr-0 ml-2">
                <img class="w-10 h-10" src="images/logo/visa_logo.jpg">
              </div>
    
              <!-- Upload Button -->
              <div class="text1">
                <input type="file" formControlName="validVisa" #validVisaInput hidden (change)="onFileSelected($event, 'validVisa')" />
                <span (click)="validVisaInput.click()">
                  <mat-icon class="icon-size-4 mt-2 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                </span>
                <p style="margin-bottom: 0px; font-size: small;">Upload</p>
                <p class="drag-text">or drag and drop files here</p>
    
                <!-- File Preview -->
                <div *ngIf="fileUrls['validVisa']">
                  <a [href]="fileUrls['validVisa']" target="_blank" class="view-file" style="margin-top: 6px; font-size: small;">View Uploaded File</a>
                </div>
              </div>
            </div>
    
          </div>
        <!-- </form> -->
      <!-- </div> -->
    </div>

    <div class="ml-2 mb-0 mt-4">
      <p class="text">Air Ticket showing travel within 60 days</p>
      <!-- <div class="home-container"> -->
        <!-- <form [formGroup]="documentsForm" id="ticket" class="bg-card mr-0 flex flex-col overflow-hidden rounded-1xl shadow"> -->
          <div 
            class="upload-container"
            (dragover)="onDragOver($event, 'airTicket')"
            (dragleave)="onDragLeave($event, 'airTicket')"
            (drop)="onDrop($event, 'airTicket')"
            [class.dragging]="isDragging['airTicket']"
          >
    
            <div class="flex flex-cols">
              <!-- Passport Icon -->
              <div class="mt-2 mb-2 mr-0 ml-2">
                <img class="w-10 h-8" src="images/logo/ticket.jpg">
              </div>
              
    
              <!-- Upload Button -->
              <div class="text1">
                <input type="file" formControlName="airTicket" #airTicketInput hidden (change)="onFileSelected($event, 'airTicket')" />
                <span (click)="airTicketInput.click()">
                  <mat-icon class="icon-size-4 mt-2 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                </span>
                <p style="margin-bottom: 0px; font-size: small;">Upload</p>
                <p class="drag-text">or drag and drop files here</p>
    
                <!-- File Preview -->
                <div *ngIf="fileUrls['airTicket']">
                  <a [href]="fileUrls['airTicket']" target="_blank" class="view-file" style="margin-top: 6px; font-size: small;">View Uploaded File</a>
                </div>
              </div>
            </div>
    
          </div>
        <!-- </form> -->
      <!-- </div> -->
    </div>

    <div class="ml-2 mb-0 mt-4">
      <p class="text">Aadhar Card</p>
      <!-- <div class="home-container"> -->
        <!-- <form [formGroup]="documentsForm" id="aadhar" class="bg-card mr-0 flex flex-col overflow-hidden rounded-1xl shadow"> -->
          <div 
            class="upload-container"
            (dragover)="onDragOver($event, 'aadharCard')"
            (dragleave)="onDragLeave($event, 'aadharCard')"
            (drop)="onDrop($event, 'aadharCard')"
            [class.dragging]="isDragging['aadharCard']"
          >
    
            <div class="flex flex-cols">
              <!-- Passport Icon -->
              <div class="mt-2 mb-2 mr-0 ml-2">
                <img class="w-10 h-8" src="images/logo/aadhar_Card.png">
              </div>
              
    
              <!-- Upload Button -->
              <div class="text1">
                <input type="file" formControlName="aadharCard" #aadharCardInput hidden (change)="onFileSelected($event, 'aadharCard')" />
                <span (click)="aadharCardInput.click()">
                  <mat-icon class="icon-size-4 mt-2 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                </span>
                <p style="margin-bottom: 0px; font-size: small;">Upload</p>
                <p class="drag-text">or drag and drop files here</p>
    
                <!-- File Preview -->
                <div *ngIf="fileUrls['aadharCard']">
                  <a [href]="fileUrls['aadharCard']" target="_blank" class="view-file" style="margin-top: 6px; font-size: small;">View Uploaded File</a>
                </div>
              </div>
            </div>
    
          </div>
        <!-- </form> -->
      <!-- </div> -->
    </div>

    <div class="ml-2 mb-0 mt-4">
      <p class="text">PAN Card</p>
      <!-- <div class="home-container"> -->
        <!-- <form [formGroup]="documentsForm" id="pan" class="bg-card mr-0 flex flex-col overflow-hidden rounded-1xl shadow"> -->
          <div 
            class="upload-container"
            (dragover)="onDragOver($event, 'panCard')"
            (dragleave)="onDragLeave($event, 'panCard')"
            (drop)="onDrop($event, 'panCard')"
            [class.dragging]="isDragging['panCard']"
          >
    
            <div class="flex flex-cols">
              <!-- Passport Icon -->
              <div class="mt-2 mb-2 mr-0 ml-2">
                <img class="w-10 h-8" src="images/logo/pan.png">
              </div>
              
    
              <!-- Upload Button -->
              <div class="text1">
                <input type="file" formControlName="panCard" #panCardInput hidden (change)="onFileSelected($event, 'panCard')" />
                <span (click)="panCardInput.click()">
                  <mat-icon class="icon-size-4 mt-2 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                </span>
                <p style="margin-bottom: 0px; font-size: small;">Upload</p>
                <p class="drag-text">or drag and drop files here</p>
    
                <!-- File Preview -->
                <div *ngIf="fileUrls['panCard']">
                  <a [href]="fileUrls['panCard']" target="_blank" class="view-file" style="margin-top: 6px; font-size: small;">View Uploaded File</a>
                </div>
              </div>
            </div>
    
          </div>
        <!-- </form> -->
      <!-- </div> -->
    </div>

  </div>

</div>


  <!-- <div class="mb-3 grid grid-flow-row grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-0" style="padding: 8px;"> -->
    <!-- ToS and PP -->
  <div class="mt-1.5 inline-flex w-full items-end">
    <mat-checkbox
        formControlName="ToS_PP"
        class="-ml-2 custom-checkbox"
    >
        <span>I agree with</span>
        <a
            class="ml-1 btn-color hover:underline"
            [routerLink]="['./']"
            >Terms
        </a>
        <span>and</span>
        <a
            class="ml-1 btn-color hover:underline"
            [routerLink]="['./']"
            >Privacy Policy
        </a>
    </mat-checkbox>
  
  
  </div>

<div class="flex justify-start" style="margin-top: 0.75rem; margin-right: 20px;">
<button
            mat-flat-button
            [disabled]="!documentsForm.valid"
            [ngStyle]="{ 'background-color': (documentsForm.valid)  ? '#ffb300' : '' }">
            Submit
            </button>
</div>

    
<!-- </div> -->
</form> 

        <footer>
          <p class="mt-2 mb-2" style="font-size: 16px;">&copy; 2025 QuickXe. All rights reserved.</p>
        </footer>
</div>


