<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto flex flex-col">

    <div class="flex-auto">
      <form [formGroup]="documentsForm" id="front" class="p-4 sm:p-6 lg:p-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 gap-6">

          <!-- Passport Front Page -->
          <div class="flex flex-col">
            <p class="text mb-2 font-semibold">Passport Front Page</p>
            <div class="upload-container" (dragover)="onDragOver($event, 'passportFront')"
              (dragleave)="onDragLeave($event, 'passportFront')" (drop)="onDrop($event, 'passportFront')"
              [class.dragging]="isDragging['passportFront']">
              <div class="flex items-center justify-center h-full px-2">
                <div class="mr-3 flex-shrink-0">
                  <img class="w-10 h-15" src="images/logo/Passport.png">
                </div>
                <div class="text-left flex flex-col">
                  <input type="file" formControlName="passportFront" #passportFrontInput hidden
                    (change)="onFileSelected($event, 'passportFront')" />
                  <span class="cursor-pointer" (click)="passportFrontInput.click()">
                    <mat-icon class="icon-size-5 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                  </span>
                  <p class="text-xs font-medium m-0">Upload</p>
                  <p class="drag-text m-0 text-gray-400" style="font-size: 9px;">or drag & drop</p>
                  <div *ngIf="fileUrls['passportFront']" class="mt-1">
                    <a [href]="fileUrls['passportFront']" target="_blank" class="view-file text-xs">View File</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Passport Back Page -->
          <div class="flex flex-col">
            <p class="text mb-2 font-semibold">Passport Back Page</p>
            <div class="upload-container" (dragover)="onDragOver($event, 'passportBack')"
              (dragleave)="onDragLeave($event, 'passportBack')" (drop)="onDrop($event, 'passportBack')"
              [class.dragging]="isDragging['passportBack']">
              <div class="flex items-center justify-center h-full px-2">
                <div class="mr-3 flex-shrink-0">
                  <img class="w-10 h-15" src="images/logo/Passport.png">
                </div>
                <div class="text-left flex flex-col">
                  <input type="file" formControlName="passportBack" #passportBackInput hidden
                    (change)="onFileSelected($event, 'passportBack')" />
                  <span class="cursor-pointer" (click)="passportBackInput.click()">
                    <mat-icon class="icon-size-5 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                  </span>
                  <p class="text-xs font-medium m-0">Upload</p>
                  <p class="drag-text m-0 text-gray-400" style="font-size: 9px;">or drag & drop</p>
                  <div *ngIf="fileUrls['passportBack']" class="mt-1">
                    <a [href]="fileUrls['passportBack']" target="_blank" class="view-file text-xs">View File</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Valid Visa -->
          <div class="flex flex-col">
            <p class="text mb-2 font-semibold">Valid Visa</p>
            <div class="upload-container" (dragover)="onDragOver($event, 'validVisa')"
              (dragleave)="onDragLeave($event, 'validVisa')" (drop)="onDrop($event, 'validVisa')"
              [class.dragging]="isDragging['validVisa']">
              <div class="flex items-center justify-center h-full px-2">
                <div class="mr-3 flex-shrink-0">
                  <img class="w-10 h-10 rounded shadow-sm" src="images/logo/visa_logo.jpg">
                </div>
                <div class="text-left flex flex-col">
                  <input type="file" formControlName="validVisa" #validVisaInput hidden
                    (change)="onFileSelected($event, 'validVisa')" />
                  <span class="cursor-pointer" (click)="validVisaInput.click()">
                    <mat-icon class="icon-size-5 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                  </span>
                  <p class="text-xs font-medium m-0">Upload</p>
                  <p class="drag-text m-0 text-gray-400" style="font-size: 9px;">or drag & drop</p>
                  <div *ngIf="fileUrls['validVisa']" class="mt-1">
                    <a [href]="fileUrls['validVisa']" target="_blank" class="view-file text-xs">View File</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Air Ticket -->
          <div class="flex flex-col">
            <p class="text mb-2 font-semibold">Air Ticket showing travel within (60 days)</p>
            <div class="upload-container" (dragover)="onDragOver($event, 'airTicket')"
              (dragleave)="onDragLeave($event, 'airTicket')" (drop)="onDrop($event, 'airTicket')"
              [class.dragging]="isDragging['airTicket']">
              <div class="flex items-center justify-center h-full px-2">
                <div class="mr-3 flex-shrink-0">
                  <img class="w-10 h-8 rounded shadow-sm" src="images/logo/ticket.jpg">
                </div>
                <div class="text-left flex flex-col">
                  <input type="file" formControlName="airTicket" #airTicketInput hidden
                    (change)="onFileSelected($event, 'airTicket')" />
                  <span class="cursor-pointer" (click)="airTicketInput.click()">
                    <mat-icon class="icon-size-5 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                  </span>
                  <p class="text-xs font-medium m-0">Upload</p>
                  <p class="drag-text m-0 text-gray-400" style="font-size: 9px;">or drag & drop</p>
                  <div *ngIf="fileUrls['airTicket']" class="mt-1">
                    <a [href]="fileUrls['airTicket']" target="_blank" class="view-file text-xs">View File</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Aadhar Card -->
          <div class="flex flex-col">
            <p class="text mb-2 font-semibold">Aadhar Card</p>
            <div class="upload-container" (dragover)="onDragOver($event, 'aadharCard')"
              (dragleave)="onDragLeave($event, 'aadharCard')" (drop)="onDrop($event, 'aadharCard')"
              [class.dragging]="isDragging['aadharCard']">
              <div class="flex items-center justify-center h-full px-2">
                <div class="mr-3 flex-shrink-0">
                  <img class="w-10 h-8 rounded shadow-sm" src="images/logo/aadhar_Card.png">
                </div>
                <div class="text-left flex flex-col">
                  <input type="file" formControlName="aadharCard" #aadharCardInput hidden
                    (change)="onFileSelected($event, 'aadharCard')" />
                  <span class="cursor-pointer" (click)="aadharCardInput.click()">
                    <mat-icon class="icon-size-5 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                  </span>
                  <p class="text-xs font-medium m-0">Upload</p>
                  <p class="drag-text m-0 text-gray-400" style="font-size: 9px;">or drag & drop</p>
                  <div *ngIf="fileUrls['aadharCard']" class="mt-1">
                    <a [href]="fileUrls['aadharCard']" target="_blank" class="view-file text-xs">View File</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- PAN Card -->
          <div class="flex flex-col">
            <p class="text mb-2 font-semibold">PAN Card</p>
            <div class="upload-container" (dragover)="onDragOver($event, 'panCard')"
              (dragleave)="onDragLeave($event, 'panCard')" (drop)="onDrop($event, 'panCard')"
              [class.dragging]="isDragging['panCard']">
              <div class="flex items-center justify-center h-full px-2">
                <div class="mr-3 flex-shrink-0">
                  <img class="w-10 h-8 rounded shadow-sm" src="images/logo/pan.png">
                </div>
                <div class="text-left flex flex-col">
                  <input type="file" formControlName="panCard" #panCardInput hidden
                    (change)="onFileSelected($event, 'panCard')" />
                  <span class="cursor-pointer" (click)="panCardInput.click()">
                    <mat-icon class="icon-size-5 text-[#ffb300]" svgIcon="heroicons_outline:arrow-up-tray"></mat-icon>
                  </span>
                  <p class="text-xs font-medium m-0">Upload</p>
                  <p class="drag-text m-0 text-gray-400" style="font-size: 9px;">or drag & drop</p>
                  <div *ngIf="fileUrls['panCard']" class="mt-1">
                    <a [href]="fileUrls['panCard']" target="_blank" class="view-file text-xs">View File</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- ToS and PP -->
        <div class="mt-8 flex flex-col items-start px-2">
          <mat-checkbox formControlName="ToS_PP" class="-ml-2 custom-checkbox">
            <span class="text-sm">I agree with</span>
            <a class="ml-1 btn-color hover:underline text-sm font-semibold" [routerLink]="['./']">Terms</a>
            <span class="text-sm px-1">and</span>
            <a class="ml-1 btn-color hover:underline text-sm font-semibold" [routerLink]="['./']">Privacy Policy</a>
          </mat-checkbox>

          <button mat-flat-button class="mt-6 w-32 h-11 text-lg font-semibold" [disabled]="!documentsForm.valid"
            [ngStyle]="{ 'background-color': (documentsForm.valid) ? '#ffb300' : '' }">
            Submit
          </button>
        </div>

      </form>
    </div>

    <footer class="mt-auto">
      <p class="mt-2 mb-2" style="font-size: 16px;">&copy; 2025 QuickXe. All rights reserved.</p>
    </footer>
  </div>
</div>