<div class="-m-6 flex max-h-screen max-w-240 flex-col md:min-w-100">
    <!-- Header -->
    <div class="flex h-16 flex-0 items-center justify-between bg-[#424242] pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5">
        <div class="text-lg font-medium"><h5>Login</h5></div>
        <br>
        <button mat-icon-button (click)="Close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>


    <form [formGroup]="customerDetailsForm">
        <div class="flex flex-auto flex-col overflow-y-auto p-3 sm:p-3">
        <!-- <mat-form-field>
            <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_mini:phone"></mat-icon>
            <input type="text" matInput formControlName="phoneNumber" placeholder="Phone Number">
            <mat-error *ngIf="customerDetailsForm.get('phoneNumber').hasError('required')">
                Phone Number is required
            </mat-error>
            <mat-error *ngIf="customerDetailsForm.get('phoneNumber')?.hasError('minlength')">
                Phone Number must be at least 10 digits
            </mat-error>
        </mat-form-field> -->


        <mat-form-field>
            <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_mini:phone"></mat-icon>
            <!-- <input type="tel"
                   matInput
                   formControlName="phoneNumber"
                   [(ngModel)]="phoneNumber"
                   placeholder="Phone Number"
                   (keypress)="onlyNumbers($event)"
                   (input)="validatePhoneNumber()"> -->
            
                   <input type="tel"
       matInput
       formControlName="phoneNumber"
       placeholder="Phone Number"
       (keypress)="onlyNumbers($event)"
       (input)="validatePhoneNumber()">

            
                   <mat-error *ngIf="customerDetailsForm.get('phoneNumber')?.hasError('required')">
                Phone Number is required
            </mat-error>
            <mat-error *ngIf="customerDetailsForm.get('phoneNumber')?.hasError('minlength')">
                Phone Number must be at least 10 digits
            </mat-error>
        </mat-form-field>



        

<!--The content below is only a placeholder and can be replaced.-->






        <div class="flex items-center justify-end mb-4 mr-4 sm:mt-0">


            <!-- Save -->
            <!-- <button
            (click)="createCustomerInLogin()"
            [ngStyle]="{'background-color': (!country || !buyRate || !sellRate) ? 'bg-gray' : '#ffb300', 'color': (!country || !buyRate || !sellRate) ? 'inherit' : 'white' }"
            class=""
            mat-flat-button
            [disabled]="!country || !buyRate || !sellRate"
            >
            Send OTP
            </button> -->


            <button
            (click)="createCustomerInLogin()"
            mat-flat-button
            [disabled]="!customerDetailsForm.valid"
            [ngStyle]="{ 'background-color': (customerDetailsForm.valid)  ? '#ffb300' : '' }">
            Send OTP
            </button>

            </div>
            <p class="justify-start text-#424242 text text-1xl font-semibold">
                Don't have an account?
            <a 
    class="justify-end text-1xl font-semibold hover:underline" 
    style="color: #ffb300; cursor: pointer;"
    (click)="openRegisterDialog()"
>
    Create
</a>
            </p> 



    </div>
</form>

    
</div>

