<div
    class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start"
>

<div
class="w-full px-4 py-8 bg-[#303030] sm:bg-card   sm:rounded-2xl sm:p-12 sm:shadow md:flex md:h-full md:items-center md:justify-center  md:rounded-none md:p-16 md:shadow-none"
>
    <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
        <div class="flex justify-center items-center">
        <div class="w-50">
            <img src="images/logo/quickxe_white.png" />
        </div>
    </div>
        <!-- Title -->
        <div
            class="mt-2 flex w-full justify-center text-white text-3xl ml-2 items-center font-semibold leading-tight tracking-tight"
        >
            OTP Verification
        </div>
        

        <!-- Sign in form -->
        <form [formGroup]="otpForm" class="mt-4">
                      <p class="mt-2 flex w-full justify-center text-white text-2xl ml-2 items-center font-semibold leading-tight tracking-tight">Enter your OTP code here</p>
                
                        <ng-otp-input class="mt-2 flex w-full justify-center items-center font-medium" style="color: #ffb300; font-size: 15px;" #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
                        
                        <div class="otp-timer mt-0.5 flex justify-center font-medium">
                            <!-- Redirect countdown -->
                            @if (countdown > 0) {
                                OTP code will expire in
                                {{ countdown | i18nPlural: countdownMapping }}
                            }
            
                            <!-- Redirect message -->
                            @if (countdown === 0) {
                                OTP code expired!
                            }
                        </div>

                        <!-- Error Message -->
                        <div *ngIf="otpForm.get('otp')?.hasError('required') && otpForm.get('otp')?.touched" class="error-message text-sm mt-2 flex justify-center">
                            OTP code is required.
                        </div>
                        <div *ngIf="invalidOTP" class="error-message flex justify-center">
                            {{ invalidOTP }}
                        </div>
                        <!-- <div *ngIf="otpExpired" class="error-message flex justify-center">
                            {{ otpExpired }}
                        </div> -->
                        <p class="mt-2 flex w-full justify-center text-white text text-1xl ml-2 items-center font-semibold leading-tight tracking-tight">
                          Didn't you receive any OTP?
                        </p> 
                        <button
                        (click)="recreateCustomerOTP()"
                        class="mt-2 flex w-full justify-center text-1xl ml-2 items-center font-semibold leading-tight tracking-tight hover:underline" 
                        style="color: #ffb300;"
                        >Resend New OTP
                        </button>
                        <div *ngIf="recreateCustomerOTP" class="text-white flex justify-center">
                            {{ newOTP }}
                        </div>



            <!-- Submit button -->
            <button
            (click)="sendPhoneNumberWithOTP()"
                class="fuse-mat-button-large btn-color mt-6 w-full" style="background-color: #ffb300;"
                mat-flat-button
            >
                <!-- @if (!ngOtpInput.disabled) { -->
                    <span> Verify OTP </span>
                <!-- } -->
                <!-- @if (ngOtpInput.disabled) {
                    <mat-progress-spinner
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                } -->
            </button>

        </form>
    </div>
</div>

</div>


