.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }

  .btn-yellow{
    background-color: #ffb300;
  }

  .btn-gray{
    background-color: gray;
  }

  .snackbar-success {
    background-color: #4caf50;
    color: white;
  }