::ng-deep .fixed-background {
    background: url("./assests/backimage.jpg") no-repeat center center fixed !important;
    background-size: cover !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
  }

  .btn-color{
    background-color: #ffc000f2 !important;
  }
  