<!-- <div class="fixed-background"></div> -->

<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

      <div class="search-container">

        <mat-form-field class="search-field">
          <!-- <mat-label>Search</mat-label> -->
          <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter()" placeholder="Search">
        </mat-form-field>

        <button mat-flat-button (click)="addCurrency()" style="background-color: #ffb300; color: white;">
          <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
          <span class="ml-2">Add</span>
      </button>
        
      </div>

        <!-- CONTENT GOES HERE -->
        <div class="">          

    <!-- <table mat-table [dataSource]="filteredData" class="mat-elevation-z8" style="max-height: 400px; overflow: auto;"> -->
    <table mat-table [dataSource]="filteredData" class="mat-elevation-z8 no-spacing" style="max-height: 400px; overflow: auto;">
      <ng-container matColumnDef="countryName">
    <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9; text-align: left;">
      <mat-icon style="vertical-align: middle; margin-right: 5px;">public</mat-icon> <!-- Country icon aligned to middle -->
      <span style="vertical-align: middle;">Country</span> <!-- Country name aligned to middle --> </th>
    <td mat-cell *matCellDef="let element" style="text-align: left;"> 
      <div class="country-wrapper">
        <div class="country-info">
          <img
            [src]="'https://flagcdn.com/w40/' + element.countryCode.toLowerCase() + '.png'"
            alt="{{ element.countryName }} flag"
            class="country-flag"
          />
          <span class="country-text">{{ element.countryName }}</span>
        </div>
        <div class="currency-text">{{ element.currencyName }}</div>
      </div>
    </td>
  </ng-container> 

    <!-- Buy Rate Column (centered) -->
    <ng-container matColumnDef="buyRate">
      <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9; text-align: center;">
        <mat-icon style="vertical-align: middle; margin-right: 5px;">attach_money</mat-icon> <!-- Buy rate icon aligned to middle -->
        <span style="vertical-align: middle;">Buy Rate</span> <!-- Buy rate name aligned to middle -->
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        {{element.buyRate}}
      </td>
    </ng-container>
  
    <!-- Sell Rate Column (centered) -->
    <ng-container matColumnDef="sellRate">
      <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9; text-align: center;">
        <mat-icon style="vertical-align: middle; margin-right: 5px;">monetization_on</mat-icon> <!-- Sell rate icon aligned to middle -->
        <span style="vertical-align: middle;">Sell Rate</span> <!-- Sell rate name aligned to middle -->
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        {{element.sellRate}}
      </td>
    </ng-container>
  


    <!-- Action Column (centered) -->
    <ng-container matColumnDef="action">
      <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9; text-align: center;">
        <span style="vertical-align: middle;">Action</span>
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">

            <!-- <span (click)="getCurrencyByCountryId(element.countryId)"> -->
              <!-- <span (click)="updateCurrency(element.countryId)"> -->
                <span (click)="openUpdateCurrencyDialog(element.countryId)">
                  <!-- <mat-icon svgIcon="heroicons_outline:pencil-square"></mat-icon> -->
              <mat-icon svgIcon="heroicons_outline:pencil-square"></mat-icon>
            </span> | 
            <span (click)="deleteCurrency(element.countryId)">
              <!-- <mat-icon svgIcon="heroicons_outline:trash"></mat-icon> -->
              <mat-icon class="text-red-600" svgIcon="heroicons_outline:trash"></mat-icon>
            </span>
      </td>
    </ng-container>

    <!-- <button mat-flat-button (click)="addCurrency()" [color]="'primary'">
      <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
  </button> -->


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- <tr mat-row 
    *matRowDef="let row; columns: displayedColumns; let i = index" 
    [ngClass]="{'alternate-row': i % 2 != 0}">
    </tr> -->
  </table>

          </div>
    </div>
</div>