<!-- <div
    class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start"
>
    <div
        class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow md:flex md:h-full md:w-1/2 md:items-center md:justify-end md:rounded-none md:p-16 md:shadow-none"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <div class="w-12">
                <img src="images/logo/logo.svg" />
            </div>

            <div
                class="mt-8 text-4xl font-extrabold leading-tight tracking-tight"
            >
                Forgot password?
            </div>
            <div class="mt-0.5 font-medium">
                Fill the form to reset your password
            </div>

            @if (showAlert) {
                <fuse-alert
                    class="mt-8"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'"
                >
                    {{ alert.message }}
                </fuse-alert>
            }

            <form
                class="mt-8"
                [formGroup]="forgotPasswordForm"
                #forgotPasswordNgForm="ngForm"
            >
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    @if (forgotPasswordForm.get('email').hasError('required')) {
                        <mat-error> Email address is required </mat-error>
                    }
                    @if (forgotPasswordForm.get('email').hasError('email')) {
                        <mat-error>
                            Please enter a valid email address
                        </mat-error>
                    }
                </mat-form-field>

                <button
                    class="fuse-mat-button-large mt-3 w-full"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled"
                    (click)="sendResetLink()"
                >
                    @if (!forgotPasswordForm.disabled) {
                        <span> Send reset link </span>
                    }
                    @if (forgotPasswordForm.disabled) {
                        <mat-progress-spinner
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    }
                </button>

                <div class="text-secondary mt-8 text-md font-medium">
                    <span>Return to</span>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']"
                        >sign in
                    </a>
                </div>
            </form>
        </div>
    </div>
    
</div> -->








<div
    class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start"
>

<div
class="w-full h-full px-4 py-8 bg-[#303030] sm:bg-card   sm:rounded-2xl sm:p-12 sm:shadow md:flex md:h-full md:items-center md:justify-center  md:rounded-none md:p-16 md:shadow-none"
>
    <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
        <div class="flex justify-center items-center">
        <div class="w-50">
            <img src="images/logo/quickxe_white.png" />
        </div>
    </div>
        <!-- Title -->
        <div
            class="mt-2 flex w-full justify-center text-white text-3xl ml-2 items-center font-semibold leading-tight tracking-tight"
        >
        Forgot password?
        </div>

        <!-- <div class="mt-0.5 text-white font-medium">
            Fill the form to reset your password
        </div> -->
        

        <!-- Sign in form -->
        <form class="mt-4" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">

            <!-- Username field -->
                <mat-form-field class="w-full">
                    <mat-label class="text-white">Email address</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="w-full">
                    <mat-label class="text-white">Email address</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    @if (forgotPasswordForm.get('email').hasError('required')) {
                        <mat-error> Email address is required </mat-error>
                    }
                    @if (forgotPasswordForm.get('email').hasError('email')) {
                        <mat-error>
                            Please enter a valid email address
                        </mat-error>
                    }
                </mat-form-field> -->

            <!-- Submit button -->
            <button
                class="fuse-mat-button-large btn-color mt-6 w-full" style="background-color: #ffb300;"
                mat-flat-button
                [disabled]="forgotPasswordForm.disabled"
                (click)="sendResetLink()"
            >
                @if (!forgotPasswordForm.disabled) {
                    <span> Send reset link  </span>
                }
                @if (forgotPasswordForm.disabled) {
                    <mat-progress-spinner
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                }
            </button>

              <!-- Form footer -->
              <div class="text-white mt-8 text-md font-medium">
                <span>Go to</span>
                <a
                    class="ml-1 hover:underline"
                    style="color: #ffb300;"
                    [routerLink]="['/sign-in']"
                    >sign in
                </a>
            </div>

        </form>
    </div>
</div>
</div>



