<div class="-m-6 flex max-h-screen max-w-240 flex-col md:min-w-160">
    <!-- Header -->
    <div class="flex h-16 flex-0 items-center justify-between bg-[#424242] pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5">
        <div class="text-lg font-medium">Add Currency</div>
        <br>
        <button mat-icon-button (click)="Close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-auto flex-col overflow-y-auto p-6 sm:p-8">

        <mat-form-field class="w-full">
            <mat-label>Select Country</mat-label>
            <mat-select [(ngModel)]="country" name="country" (selectionChange)="Change($event)">
                <mat-select-trigger>
                    <span class="flex items-center">
                        @if(country){
                        <img [src]="'https://flagcdn.com/w40/' + country.countryCode.toLowerCase() + '.png'"
                            class="mr-2 h-5 w-8 object-cover rounded shadow-sm" alt="flag" />
                        <span>{{country.countryName}}</span>
                        }
                    </span>
                </mat-select-trigger>
                @for (item of countries; track item) {
                <mat-option [value]="item">
                    <span class="flex items-center">
                        <img [src]="'https://flagcdn.com/w40/' + item.countryCode.toLowerCase() + '.png'"
                            class="mr-2 h-5 w-8 object-cover rounded shadow-sm" alt="flag" />
                        {{item.countryName}}
                    </span>
                </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <!-- <lib-country-list></lib-country-list> -->


        <div class="flex flex-col justify-between mt-4">
            <div class="flex flex-col mb-2">
                <span class="font-medium">Selected Currency Details:</span>
            </div>
            <div class="flex items-center mb-2" *ngIf="selcountryCode">
                <span class="mr-2">Flag:</span>
                <img [src]="'https://flagcdn.com/w40/' + selcountryCode + '.png'" alt="{{ selcountryCode }} flag"
                    class="h-6 w-10 object-cover rounded shadow-sm country-flag" />
            </div>
            <div *ngIf="selcurrencyName">
                Currency Name : <span class="font-semibold">{{selcurrencyName}}</span>
            </div>
        </div>


        <mat-form-field>
            <mat-label>Buy Rate</mat-label>
            <input type="number" matInput [(ngModel)]="buyRate" (keypress)="onlyNumbers($event)" />
        </mat-form-field>

        <!-- <mat-form-field>
            <mat-icon class="icon-size-5 mr-2" svgIcon="heroicons_mini:phone"></mat-icon>
            <input type="tel" matInput formControlName="mobileNumber" placeholder="Mobile Number" (keypress)="onlyNumbers($event)" (input)="validateMobileNumber()">
            <mat-error *ngIf="addTenantForm.get('mobileNumber').hasError('required')">
                Mobile Number is required
            </mat-error>
            <mat-error *ngIf="addTenantForm.get('mobileNumber')?.hasError('minlength')">
                Phone Number must be at least 10 digits
            </mat-error>
        </mat-form-field> -->


        <mat-form-field>
            <mat-label>Sell Rate</mat-label>
            <input type="number" matInput [(ngModel)]="sellRate" (keypress)="onlyNumbers($event)" />
        </mat-form-field>
    </div>


    <div class="mt-4 flex items-center justify-end mb-4 mr-4 sm:mt-0">


        <!-- Save -->
        <button (click)="addCurrency()" mat-flat-button [disabled]="!country || !buyRate || !sellRate"
            [ngStyle]="{ 'background-color': (country && buyRate && sellRate) ? '#ffb300' : '' }"
            class="order-first sm:order-last">
            Save
        </button>


        <!-- <button
            (click)="addCustomer()"
            mat-flat-button
            [disabled]="customerDetailsForm.invalid"
            [ngStyle]="{ 'background-color': customerDetailsForm.valid ? '#ffb300' : '' }">
            Sign Up
            </button> -->



    </div>
</div>