<!-- <div class="fixed-background"></div> -->

<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

      <!-- <div class="search-container">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search</mat-label>
          <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter()" placeholder="Search">
        </mat-form-field>
      </div> -->



    <!-- <div class="add-container">
    <form>
      <mat-form-field">
        <mat-select [(ngModel)]="selectedValue" name="food" aria-placeholder="Add">
          @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div> -->



      <div class="search-container">

        <mat-form-field class="search-field">
          <!-- <mat-label>Search</mat-label> -->
          <input matInput [(ngModel)]="searchText" (ngModelChange)="applyFilter()" placeholder="Search">
        </mat-form-field>

        <form>
          <mat-form-field>
            <mat-select [(ngModel)]="selectedValue" name="food" placeholder="Add">
              @for (food of foods; track food) {
                <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </form>
        
      </div>

        <!-- CONTENT GOES HERE -->
        <div class="">          

    <!-- <table mat-table [dataSource]="filteredData" class="mat-elevation-z8" style="max-height: 400px; overflow: auto;"> -->
    <table mat-table [dataSource]="filteredData" class="mat-elevation-z8 no-spacing" style="max-height: 400px; overflow: auto;">
      <ng-container matColumnDef="country">
    <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9; text-align: left;">
      <mat-icon style="vertical-align: middle; margin-right: 5px;">public</mat-icon> <!-- Country icon aligned to middle -->
      <span style="vertical-align: middle;">Country</span> <!-- Country name aligned to middle --> </th>
    <td mat-cell *matCellDef="let element" style="text-align: left;"> 
      <div class="country-wrapper">
        <div class="country-info">
          <img
            [src]="'https://flagcdn.com/w40/' + element.countryCode.toLowerCase() + '.png'"
            alt="{{ element.countryName }} flag"
            class="country-flag"
          />
          <span class="country-text">{{ element.countryName }}</span>
        </div>
        <div class="currency-text">{{ element.currencyName }}</div>
      </div>
    </td>
  </ng-container> 

    <!-- Buy Rate Column (centered) -->
    <ng-container matColumnDef="buyRate">
      <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9; text-align: center;">
        <mat-icon style="vertical-align: middle; margin-right: 5px;">attach_money</mat-icon> <!-- Buy rate icon aligned to middle -->
        <span style="vertical-align: middle;">Buy Rate</span> <!-- Buy rate name aligned to middle -->
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        {{element.buyRate}}
      </td>
    </ng-container>
  
    <!-- Sell Rate Column (centered) -->
    <ng-container matColumnDef="sellRate">
      <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9; text-align: center;">
        <mat-icon style="vertical-align: middle; margin-right: 5px;">monetization_on</mat-icon> <!-- Sell rate icon aligned to middle -->
        <span style="vertical-align: middle;">Sell Rate</span> <!-- Sell rate name aligned to middle -->
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        {{element.sellRate}}
      </td>
    </ng-container>
  

        <!-- Action Column (centered) -->
        <ng-container matColumnDef="action">
          <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9; text-align: center;">
            <span style="vertical-align: middle;">Action</span> <!-- Sell rate name aligned to middle -->
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <i class="material-icons md-24">delete</i>
          </td>
        </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- <tr mat-row 
    *matRowDef="let row; columns: displayedColumns; let i = index" 
    [ngClass]="{'alternate-row': i % 2 != 0}">
    </tr> -->
  </table>

            
          </div>
    </div>
</div>






















                 <!-- <td mat-cell *matCellDef="let element">
                    <div class="country-wrapper">
                      <div class="country-info">
                        <img
                          [src]="'https://flagcdn.com/w40/' + element.code.toLowerCase() + '.png'"
                          alt="{{ element.country }} flag"
                          class="country-flag"
                        />
                        <span class="country-text">{{ element.country }}</span>
                      </div>
                      <div class="currency-text">{{ element.currency_name }}</div>
                    </div>
                  </td>                  -->

                                  <!-- Country Column -->
                <!-- <ng-container matColumnDef="country">
                  <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9;"> Country </th>
                  <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                </ng-container> -->


                <!-- <ng-container matColumnDef="country">
                  <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9;"> Country </th>
                  <td mat-cell *matCellDef="let element" class="country-cell">
                    {{ element.country }}
                    <img
                      [src]="'https://flagcdn.com/w40/' + element.code.toLowerCase() + '.png'"
                      alt="{{ element.country }} flag"
                      class="country-flag"
                    />
                  </td>
                </ng-container> -->



                <!-- <ng-container matColumnDef="country">
                  <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9;"> Country </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="country-wrapper">
                      <img
                        [src]="'https://flagcdn.com/w40/' + element.code.toLowerCase() + '.png'"
                        alt="{{ element.country }} flag"
                        class="country-flag"
                      /><p> </p>
                      <div class="country-details">
                        <span class="country-text">{{ element.country }}</span>
                        <div class="currency-text">{{ element.currency_name }}</div>
                      </div>
                    </div>
                  </td>
                </ng-container> -->

                <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'even-row': dataSource.indexOf(row) % 2 === 1}"></tr> -->