<!-- <div class="fixed-background"></div> -->

<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class=" ">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="max-height: 400px; overflow: auto;">
              
                <!-- Country Column -->
                <ng-container matColumnDef="country">
                  <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9;"> Country </th>
                  <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                </ng-container>
              
                <!-- Buy Rate Column -->
                <ng-container matColumnDef="buyRate">
                  <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9;"> Buy Rate </th>
                  <td mat-cell *matCellDef="let element"> {{element.buyRate}} </td>
                </ng-container>
              
                <!-- Sell Rate Column -->
                <ng-container matColumnDef="sellRate">
                  <th class="sticky-header" mat-header-cell *matHeaderCellDef style="background-color: #A9A9A9;"> Sell Rate </th>
                  <td mat-cell *matCellDef="let element"> {{element.sellRate}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
          </div>
    </div>
</div>